<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta property="og:image" content="" />
		<link rel="icon" type="image/png" href="">

		<title>Travlr</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<form action="/home" method="POST" id="newDestination">
			<label for="location">Location</label>
			<input type="text" name="location">
			<label for="month">Time</label>
			<select name="month" id="month">
				<option disabled selected value="default">Month</option>
				<option value="january">January</option>
				<option value="february">February</option>
				<option value="march">March</option>
				<option value="april">April</option>
				<option value="june">June</option>
				<option value="july">July</option>
				<option value="august">August</option>
				<option value="septembr">Septembr</option>
				<option value="october">October</option>
				<option value="november">November</option>
				<option value="decemeber">Decemeber</option>
			</select>
			<select name="year" id="year">
				<option disabled selected value="default">Year</option>

			</select>
			<textarea form="newDestination" name="notes" id="destinationNotes" cols="30" rows="10"></textarea>
			<button>Submit</button>
		</form>
		
	
	

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>