<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta property="og:image" content="" />
		<link rel="icon" type="image/png" href="">

		<title>Travlr</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<p class="newDestinationError"></p>
		<form id="newDestination">
			<label for="name">Trip Name</label>
			<input type="text" name="name">
			<label for="location">Location</label>
			<input type="text" name="location" required>
			<label for="month">Time</label>
			<select name="month" id="month">
				<option disabled selected value="">Month</option>
				<option value="January">January</option>
				<option value="February">February</option>
				<option value="March">March</option>
				<option value="April">April</option>
				<option value="June">June</option>
				<option value="July">July</option>
				<option value="August">August</option>
				<option value="Septembr">Septembr</option>
				<option value="October">October</option>
				<option value="November">November</option>
				<option value="Decemeber">Decemeber</option>
			</select>
			<select name="year" id="year">
				<option disabled selected value="">Year</option>

			</select>
			<textarea form="newDestination" name="notes" id="destinationNotes" cols="30" rows="10"></textarea>
			<input type="button" value="Submit" id="newDestinationButton" onclick="validateNewSubmission()">
		</form>
		
	
	

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>