<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta property="og:image" content="" />
		<link rel="icon" type="image/png" href="">

		<title>Travlr</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body> 
		<section class="mainScreen">
			<header>
				<h1>Travlr</h1>
				<span class="greeting">Hi, Tee</span>
				<img src="" alt="">
				<a href="">Logout</a>
			</header>
			<main>
				<div class="pageContainer">
					<section class="homePage">
						<div class="homeHeader">
							<h2>Destinations</h2>
							<button class="addNewButton" alt="Add new destination">+</button>
						</div>
						<section class="savedDestinations">
							<!-- Iterate through each destination and load card in library -->
							<% for (let i = 0; i < locations.length; i++) {%>
								<div class="destinationCard">
									<div class="moreWindow hidden">
										<button class="view">View</button>	
										<button class="edit">Edit</button>
										<button class="delete">Delete</button>
									</div>
									<button class="moreButton"></button>
									
									<div class="cardDetails">
										<% if (!locations[i]['name']) {%>
											<p class="name"><%= locations[i]['location'].split(',')[0] %></p>
										
										<%}%>
										<% for (let field in locations[i]) {%>
											<% if (locations[i][field] && field !== "_id" && field !== "imageURL") {%>
												<p class="<%= field %>"><%= locations[i][field]%></p>
											
											<%}%>
										<% } %>	
									</div>
									<img class="imageURL" src="<%= locations[i]['imageURL']%>" alt="Destination Image">
								</div>
							<% } %>
						</section>
					</section>
					<section class="explorePage">
						<h2>Explore</h2>
					</section>
				</div>
			</main>


			<nav>
				<button class="homeButton">Home</button>
				<button class="exploreButton">Explore</button>
			</nav>

		</section>
	
		<section class="formScreen hidden">
			<section class="formWindow">
				<p class="closeForm">x</p>
				<p class="newDestinationError"></p>
				<form id="newDestination">
					<label for="name">Trip Name</label>
					<input type="text" name="name" autocomplete="off">
					<label for="location">Location</label>
					<input class="locationInput" type="text" name="location" autocomplete="off" required>
					<div class="locationDropdown"></div>
					<div class="time">
						<label for="month">Time</label>
						<select name="month" id="month">
							<option disabled selected value="">Month</option>
							<option value="January">January</option>
							<option value="February">February</option>
							<option value="March">March</option>
							<option value="April">April</option>
							<option value="June">June</option>
							<option value="July">July</option>
							<option value="August">August</option>
							<option value="Septembr">Septembr</option>
							<option value="October">October</option>
							<option value="November">November</option>
							<option value="Decemeber">Decemeber</option>
						</select>
						<select name="year" id="year">
							<option disabled selected value="">Year</option>
						</select>
					</div>
					<label for="notes">Notes</label>
					<textarea form="newDestination" name="notes" id="destinationNotes" cols="30" rows="10"></textarea>
					<div class="formButtons">
						<input name="add" type="button" value="Add" id="addDestination" >
						<input name="update" type="button" value="Update" id="updateDestination" >
					</div>
				</form>
			</section>
		</section>
		<section class="viewScreen hidden">
			
			<section class="viewWindow">
				<span class="closeView">x</span>
				<div class="moreWindow hidden">
					<button class="edit">Edit</button>
					<button class="delete">Delete</button>
				</div>
				<button class="moreButton">. . .</button>
			</section>
		</section>
		
		<section class="confirmScreen hidden">
			<div class="confirmWindow">
				<p>Are you sure you want to delete this destination?</p>
				<button class="deleteCancel">Cancel</button>
				<button class="deleteConfirm">Yes</button>
			</div>
		</section>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>