/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
     font-size: 62.5%;
     
}
html, body {
     height: 100%;
}

body {
     padding: 1rem;
     font-size: 1.6rem;
     font-family: 'Montserrat', sans-serif;
}
 h1 {
     margin: 0;
     background: url('https://img.icons8.com/external-prettycons-solid-prettycons/60/000000/external-world-travel-prettycons-solid-prettycons-1.png') no-repeat;
     background-size: contain;
     padding-left: 5.5rem;
     font-size: 3.5rem;
     font-family: 'Berkshire Swash', 'Cursive';
     font-weight: 700;
}
h2 {
     font-weight: 500;
     font-size: 3rem;
}
/******************************************
/* LAYOUT
/*******************************************/

/******************* LANDING STYLES ************************/
.container {
     display: flex;
     flex-flow: column;
     padding: 0;
}
.landingHeader {
     display: flex;
     align-items: center;
     padding: 1rem 2rem;
     flex: 0 1 8rem;
     box-shadow: 0 1px 10px 0 rgba(120, 120, 120, .8);
     z-index: 2;
}
.landingHeader h1 {
     background: none;
     padding: 0;
     font-size: 4rem;
}
.login {
     margin-left: auto;
}
.landingMain {
     display: flex;
    
     flex: 1 1 auto;
     background: linear-gradient(to right, rgba(255,255,255) 50%, rgba(215,234,218) 50%);
}
.leftText, .rightImage {
     width: 50%;
     padding: 1rem 2rem;
     /* padding-top: 10rem; */
}
.leftText h2 {
     font-size: 4rem;
     margin: 1rem 0 2.5rem 0 ;
}
.leftText span {
     display: block;
     padding-top: 1vw;
     letter-spacing: .7rem;
}

.rightImage img {
     width: 100%;
     border-radius: 1rem;
}
.imageContainer {
     height: 50vh;
     width: 100%;
     overflow: hidden;
     border-radius: 1rem;
}
footer {
     flex: 0 1 1.5rem;
     background-color: white;
     text-align: center;
     border-top: 1px solid rgba(164, 164, 164, .5);

}
footer p {
     margin: 1rem 0;
     font-size: 1.2rem;
}
.container main a, .container header a {
     padding: 1rem 3rem;
     background-color: black;
     color: white;
     border-radius: 5rem;
     text-decoration: none;
}
.container main a:hover, .container header a:hover {
     outline: 1px solid black;
     background: white;
     color: black;
}
footer a {
     color: black;
}
.mainContainer {
     display: flex;
     height: fit-content;
     align-self: center;
     width: 100%;
     padding: 0 2rem;
}
@media  screen and (min-width:1024px) {
     .leftText h2 {
          font-size: 5rem;
     }
     
}
@media screen and (max-width:770px) {
     .landingMain {
          background: linear-gradient(to top, rgba(255,255,255) 50%, rgba(215,234,218) 50%);
     }
     .mainContainer {
          flex-flow: column;
          align-items: center;
          padding: 2rem 0;
     }
     .leftText {
          width: 70%;
          order: 2;
     }
     .rightImage {
     width: 70%;
     }
     .imageContainer {
          height: 100%;
     }
     
     
}
@media screen and (max-width:450px) {
     .leftText h2 {
          font-size: 3.5rem;
     }
     .leftText, .rightImage {
          width: 100%;
     }
     
}
@media screen and (max-width:325px) {
     .leftText h2 {
          font-size: 2.8rem;
     }
    
     
}
/****************** HOMEPAGE STYLES *************************/
.mainScreen {
     display: flex;
     flex-flow: column;
     height: 100%;
}
.mainScreen .mainHeader {
     flex: 0 1 7rem;
     display: flex;
     align-items: center;
     padding: 0 2rem;
     margin-bottom: 1rem;
     column-gap: 1.5rem;
     font-size: 1.7rem;
}
.mainScreen .mainHeader img {
     width: 2.2rem;
     border-radius: 2rem;
     outline: 3px solid rgb(20, 20, 20);
     margin-right: 1rem;
}
.mainScreen .logout {
     /* border: none; */
     /* background: rgb(20, 20, 20); */
     color: black;
     padding: .4rem 1.5rem;
     border-radius: 3rem;
     background-color: white;
     border: 2px solid rgb(20, 20, 20);

}
.mainScreen .logout:hover {
     background-color: rgb(20, 20, 20);
     color: white;
}
.mainScreen main {
     flex: 1 1 50%;
     overflow: hidden;
}
.mainScreen nav {
     width: 60%;
     align-self: center;
     margin-top: 1rem;
     flex: 0 1 6rem;
     background-color: rgb(20, 20, 20);
     border-radius: 5rem;
     display: flex;
     justify-content: center;
     align-items: center;
     column-gap: 2rem;
     /* font-family: Arial, Helvetica, sans-serif; */
}
.mainScreen .homeButton, .mainScreen .exploreButton {
     border: none;
     background-color: transparent;
     color: white;
     font-weight: 700;
     font-size: 1.6rem;
     padding-top: 1rem;
     padding-bottom: 1rem;
     outline: none;
}
#homeBtn, #exploreBtn {
     display: none;
}
.homeButton {
     background: url('https://img.icons8.com/ios/50/FFFFFF/home--v3.png') no-repeat;
     background-size: 25%;
     padding-left: 3rem;
     background-position: 0 7px;
}
.homeButton:hover, .exploreButton:hover {
     
     border-bottom: 1px solid white;
}
#homeBtn:checked + label , #exploreBtn:checked + label {
     border-bottom: 1px solid white;
}
.exploreButton {
     background: url('https://img.icons8.com/ios/50/FFFFFF/compass--v1.png') no-repeat;
     background-size: 23%;
     padding-left: 3rem;
     background-position: 0 8px;
}
.pageContainer {
     width: 200%;
     height: 100%;
     display: flex;
     justify-content: space-around;
}
.homePage, .explorePage {
     width: 48%;
     min-height: 20rem;
     background-color: rgba(215, 234, 218, 1);
     border-radius: 1rem;
     padding: 1rem 2rem 2rem 2rem;
}
.homePage {
     overflow-y: auto;
     overflow-x: hidden;
}
.homeHeader {
     display: flex;
     padding: 0 1rem;
     align-items: center;
     margin-bottom: 1rem;
}
header .greeting {
     margin-left: auto;
}
.formWindow, .viewWindow {
     width: 50%;
     padding: 2.5rem;  
}
.formWindow form > * {
     display: block;
     width: 100%;
}
.savedDestinations {
     display: flex;
     width: 100%;
     flex-wrap: wrap;
     row-gap: 1rem;
     column-gap: 1rem;
}
.destinationCard {
     display: flex;
     padding: .5rem;
     border-radius: 1rem;
     background-color: white;
     /* flex-direction: row-reverse; */
     /* width: 20rem; */
    width: 30rem;
    height: 11rem;
    /* box-shadow: 0 0 15px 0px rgba(89, 88, 88, .3); */
}
.destinationCard, .viewWindow {
     position: relative;
}
.destinationCard > * {
     margin: .5rem;
}
.imageURL {
     width: 80px;
     border-radius: .5rem;
     order: 1;
}
.cardDetails {
     font-size: 1.4rem;
     order: 2;
     margin: 0 1rem;
     padding: 1rem 0;
     /* flex-basis: 100px; */
   
}
.cardDetails p {
     margin: 0 0 1rem 0;
}
.name {
     font-size: 1.8rem;
     font-weight: 700;  
}
.month, .year {
     display: inline-block;
     margin: 0;
     background-color: rgba(41, 156, 79, .2);
     /* background-color: rgb(208, 207, 207); */
     color: rgb(62, 61, 61);
     padding: .3rem .5rem;
     border-radius: .4rem;
}
.location {
     background: url("https://img.icons8.com/material-rounded/24/299C4F/marker.png") no-repeat;
     background-position: -3px -2px;
     background-size: 18px;
     padding-left: 1.6rem;
     color: rgb(62, 61, 61);
 

     
}
.moreButton {
     order: 3;
     align-self: flex-start;
     height: 2rem;
     padding: 0 .5rem;
     border: none;
     border-radius: .5rem;
     flex: 0 1 3rem;
     min-width: 4rem;
     margin-left: auto;
     /* outline: 1px rgb(222, 220, 220) solid; */
     background: url('https://img.icons8.com/ios/50/FFFFFF/ellipsis.png') no-repeat;
     background-size: contain;
     background-position: center;
     
     background-color: rgba(41, 156, 79, .8);
}
.moreButton:hover {
     background-color: rgba(219, 219, 219, 1);
     background-image: url('https://img.icons8.com/ios/50/000000/ellipsis.png');
}
.moreWindow {
     position: absolute;
     left: 103%;
     z-index: 3;
     display: flex;
     flex-flow: column;
     font-size: 1.4rem;
     width: 10rem;
     height: 11rem;
     box-shadow: 0 0 15px 2px rgba(51, 51, 51, 0.3);
     background-color: rgb(220, 220, 220);
     /* background-color: green; */
     justify-content: space-between;
     outline: solid 1px rgba(51, 51, 51, 0.05);
     border-radius: .25rem;
}
.moreWindow button {
     display: block;
     background-color: white;
     border: none;
     /* border-bottom: 1px solid gray; */
     width: 100%;
     /* padding: 1rem; */
     height: 3.6rem;
     color: rgb(74, 74, 74);
     text-align: start;
     padding-left: 3.5rem;  
}
.moreWindow button:hover {
     background-color: rgba(20,20,20, 1);
     color: white;

}
.moreWindow .view, .moreWindow .delete, .moreWindow .edit {
     background-repeat: no-repeat;
     background-size: 17px;
     background-position: 10px;
     
}
.moreWindow .view {    
     background-image: url('https://img.icons8.com/material-outlined/24/646464/visible--v1.png');
     border-radius: .25rem .25rem 0 0;
}
.moreWindow .delete {
     border-radius: 0 0 .25rem .25rem;
     background-image: url('https://img.icons8.com/material-outlined/24/646464/trash--v1.png');
}
.moreWindow .edit {
     background-image: url('https://img.icons8.com/material-outlined/24/646464/edit--v1.png');
}
.confirmWindow {
     /* background-color: blue; */
}
.addNewButton {
     width: 4rem;
     height: 4rem;
     border-radius: 5rem;
     border: none;
     font-size: 2.5rem;
     background-color: white;
     margin-left: auto;
}
.addNewButton::after {
     content: "";
     display: inline;
}
.addNewButton:hover::after {
     content: " Add New";
}
.addNewButton:hover {
     background-color: rgba(41, 156, 79, 1);
     color: white;
     animation: slideOut .3s forwards;
}
@keyframes slideOut {
     0% {
          font-size: 0rem;
     }
     100% {
          width: 13rem; 
          font-size: 1.3rem; 
     }    
}
.formScreen, .viewScreen, .deleteScreen {
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     background-color: rgba(0,0,0,.5);
     z-index: 4;
}
.formWindow, .viewWindow, .confirmWindow {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -55%);
     
     border-radius: .7rem;
}
.formWindow {
     z-index: 5;
     background-color:white;
     
}
.formWindow label, .formWindow .time {
     margin-top: 1.8rem;
}
.formWindow label {
     color: rgb(20, 20, 20);
     margin-bottom: .4rem;
     font-weight: 700;
     font-size: 1.8rem;
}
.formWindow input:not(#updateDestination, #addDestination), .formWindow textarea {
     border: 1px rgba(41, 156, 79, 1) solid;
     border-radius: .5rem;
     /* box-shadow: inset 0 0 6px 1px rgba(0,0,0,.3); */
     /* background-color: rgb(243, 243, 243); */
     outline: none;
     padding: 1rem;
}
.formWindow select {
     border: none;
     padding: .4rem;
     border-radius: .5rem;
     margin-left: .5rem;
     box-shadow: inset 0 0 1px 1px rgba(0,0,0,.3);
     /* outline: 1px rgba(41, 156, 79, 1) solid ; */
     /* background-color: rgb(243, 243, 243); */
     outline: none;

}
.tripName, .locationInput {
     height: 3rem;
}

.formWindow .tripLabel {
     margin-top: 2.5rem;
}
#updateDestination, #addDestination {
     border: none;
     background-color: rgba(41, 156, 79, 1);
     font-weight: 900;
     border-radius: 2rem;
     color: white;
     padding: .6rem 2rem;
     position: relative;
     margin-top: 2rem;
     left: 38%;
}
#updateDestination:hover, #addDestination:hover {
     color: black;
}
.closeForm {
     color: white;
     background: url('https://img.icons8.com/ios-filled/50/000000/delete-sign--v2.png') no-repeat;
     background-size: contain;
     display: block;
     border: none;
     position: absolute;
     right: 2rem;
     padding: 1rem;

}

.formWindow .locationDropdown {
     background-color: rgba(215, 234, 218, 1);
     position: absolute;
     width: 80%;
     left: 50%;
     transform: translateX(-50%);

}
.locationDropdown ul {
     padding: 0 2.5rem;
}
.locationDropdown li {
     list-style: none;
     padding: .5rem 0;
     /* color: rgb(34, 34, 34); */
     color: black;
     font-weight: 700;
}
.locationDropdown li:hover {
     color: rgba(41, 156, 79, 1);
}
.newDestinationError {
     color: rgba(41, 156, 79, 1);
}
.viewWindow {
     background-color: white;
     width: 65%;
     max-width: 50rem;
     padding-top: 1.5rem;
     z-index: 4;
}
.viewWindow .closeForm {
     background: url('https://img.icons8.com/ios-filled/50/000000/delete-sign--v2.png') no-repeat; 
     background-size: contain;
}
.viewWindow .name {
     font-size: 2.5rem;
     margin: 1.5rem 0;
}
.viewWindow .month, .viewWindow .year {
     margin-right: .7rem;
     margin-bottom: 1rem;
}
.viewWindow .notes {
     
     max-height: 10rem;
     overflow-y: auto;
}
.viewWindow .imageURL {
     width: 100%;
     /* max-width: 40rem; */
     margin-top: 3rem;
}
.viewWindow .moreWindow {
     left: 20%;
     height: 7rem;
}

.confirmWindow {
     background-color: white;
     padding: 1.5rem;
     text-align: center;
     font-weight: 600;
}
.confirmWindow .deleteCancel, .confirmWindow .deleteConfirm {
     border: none;
     background-color: white;
     padding: .5rem 2rem;
     border-radius: 2rem;
}
.confirmWindow .deleteConfirm {
     background-color: rgba(41, 156, 79, 1);
     color: white;
}
.confirmWindow .deleteConfirm:hover {
     background-color: rgba(41, 156, 79, .4);
}
.confirmWindow .deleteCancel {
     outline: 1px solid black;
     padding: .5rem 1.5rem;
}
.confirmWindow .deleteCancel:hover {
     background-color: black;
     color: white;
}
.confirmWindow p {
     font-size: 1.9rem;
}
.closeForm:hover {
     background: url('https://img.icons8.com/ios-filled/50/299C4F/delete-sign--v2.png') no-repeat; 
     background-size: contain;
}
/********************** EXPOREPAGE STYLES *********************/
.explorePage::-webkit-scrollbar, .homePage::-webkit-scrollbar {
     background: transparent;
     width: 10px; 
}
.explorePage::-webkit-scrollbar-thumb, .homePage::-webkit-scrollbar-thumb {
     background: rgba(20, 20, 20, .8);
     border-radius: 10px;     
}
.explorePage {
     overflow-y: auto;
}

.explorePage header {
     display: flex;
     margin-bottom: 1rem;
     align-items: center;
     height: 8rem;
}
.explorePage h2 {
     margin: 0;
     /* font-size: 2.5rem; */
}
.exploreSearch {
     margin-left: auto;
     height: 4rem;
     width: 30%;
     outline: none;
     border: none;
     border-radius: .5rem;
     padding-left: 3.5rem;

     background: url('https://img.icons8.com/ios-glyphs/30/000000/search--v1.png') no-repeat;
     background-size: 23px;
     background-position: 5px 8px;

     background-color: white;
}
.exploreContainer {
     display: flex;
     column-gap: 2rem;

}
.exploreCards {
     flex: 1 1 70%;
     display: flex;
     flex-flow: column;
     row-gap: 3rem;
}
.exploreCards h3 {
     margin: 0;
     margin-bottom: 1.6rem;
     /* font-size: 1.8rem; */
}
.catagories {
     background-color: rgba(20,20,20, 1);
     color: white;
     border-radius: 1rem;
     padding: 1.5rem 1rem;
}
.catagories h3 {
     padding-left: 1rem;
}
.catagoriesContainer {
     display: flex;
     padding: 0 1rem;
     justify-content: space-around;
}
.catagoryBtn {
     display: flex;
     flex-flow: column;
     row-gap: 1rem;
     align-items: center;
}
.catagoryBtn .imgContainer {
     width: 50px;
     height: 50px;
     border-radius: 5rem;
     overflow: hidden;
     /* outline: 1px solid white; */
}
.imgContainer img {
     width: 100%;
}
.exploreTop {
     width: 30%;
     background-color: white;
     border-radius: .5rem;
     display: flex;
     align-items: center;
     flex-flow: column;
     padding: 1rem 2rem;
}
.exploreTop h3 {
     margin: 2.5rem 0;
}
.topCards {
     display: flex;
     flex-flow: column;
     /* row-gap: 2rem; */
}
.topCard {
     display: flex;
     column-gap: 1rem;
     /* border-radius: 1rem; */
     align-items: center;
     border-top: 1px solid rgba(190, 190, 190, .8);
     padding: 1rem 0;
}
.topCard:hover {
     /* background-color: rgba(20, 20, 20, .5); */
}
.topCard .rating {
     background: url('https://img.icons8.com/ios-glyphs/30/299C4F/star--v1.png') no-repeat;
     background-size: 13px;
     background-position: 0 -1px;
     padding-left: 1.8rem;
     font-size: 1.2rem;
     margin-left: auto;
}
.topCard img {
     width: 30%;
     border-radius: 1rem;
     /* outline: 1px solid black; */
}
.featuredContainer {
     display: flex;
     column-gap: 2%;
     row-gap: 1.5rem;
     flex-wrap: wrap;
}
.featured h3 {
     font-size: 2rem;
}
.featuredCard {
     background-color: white;
     width: 49%;
     border-radius: 1rem;
     overflow: hidden;
     /* padding: 1rem; */
     /* box-shadow: 0 0 10px 2px rgba(120,120,120,.3); */
     display: flex;
     flex-flow: column;
     align-items: baseline;
}
.featuredImg {
     overflow: hidden;
     height: 15rem;
     border: 2px solid white;
     border-radius: 1rem;
}
.featuredName {
     font-size: 1.7rem;
     font-weight: 700;
}
.featuredCard img {
     width: 100%;
     /* height: 15rem; */
}
.featuredCard p {
     margin: 0;
     margin: .5rem 2rem;
}
.featuredCard .location {
     font-size: 1.4rem;
     margin-bottom: 1rem;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.hidden {
     display: none;
}
.exploreOpen {
     
     animation: explore 1s forwards;
}
@keyframes explore {
     100% {
          transform: translateX(-50%);
     }
     
}
.homeOpen {
     animation: home 1s backwards;
}
@keyframes home {
     0% {
          transform: translateX(-50%);

     } 
     100% {
          transform: translateX(0%);
     }
     
}
@media screen and (max-width: 885px) {
     .exploreContainer {
          flex-flow: column;
          row-gap: 2rem;
     }
     .exploreTop {
          flex-flow: row;
          width: 100%;
          text-align: center;
     }
     .exploreTop h3 {
          margin-right: 2rem;
     }
     .topCards {
          flex-flow: row;
          overflow-y: auto;
          column-gap: 2rem;
     }
     .topCard {
          flex-flow: column;
          align-items: center;
          border: none;
     }
     .topCard img {
          width: 10rem;
     }
     .topCard .rating {
          margin-left: 0;
     }
}
@media screen and (max-width: 480px) {
     .destinationCard {
          width: 100%;
     }
     .greeting {
          display: none;
     }
     .mainScreen nav {
          width: 100%;
          flex: 0 1 5rem;
     }
     .mainHeader img {
          margin-left: auto;
     }

     .formWindow, .viewWindow, .confirmWindow {
          width: 90%;
     }

     .destinationCard .moreWindow {
          left: 55%;
          top: 30%;
     }

     .featuredContainer {
          flex-flow: column;
     }
     .featuredCard {
          width: 100%;
     }
     .exploreTop h3 {
          display: none;
     }
     .exploreSearch {
          width: 50%;
     }
     .catagories {
          width: 100%;
          overflow: hidden;
          overflow-x: scroll;
     }
     .catagoriesContainer {
          width: 500px;
     }
}
@media screen and (max-width: 375px) {
    .destinationCard .moreButton {
          position: absolute;
          right: 3px;
     }
     .cardDetails .name {
          padding-top: 1.2rem;
          
     }
     .destinationCard {
          height: unset;
     }
     .mainHeader img {
          display: none;
     }
     .logout {
          margin-left: auto;
     }
     .homeHeader {
          flex-flow: column;
     }
     .addNewButton {
          margin: 1rem 0;
     }
     .homePage h2 {
          margin: 1.5rem 0 1rem 0;
     }
     .formWindow, .viewWindow, .confirmWindow {
          width: 100%;
     }
     
}
