/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
     font-size: 62.5%;
     
}
html, body {
     height: 100%;
}

body {
     padding: 1rem;
     font-size: 1.6rem;
}


/******************************************
/* LAYOUT
/*******************************************/

/******************* LANDING STYLES ************************/
.login {
     margin-left: auto;
}
.landingMain {
     display: flex;
}
.leftText, .rightImage {
     width: 50%;
}
.rightImage img {
     width: 100%;
}
footer {

}
/****************** HOMEPAGE STYLES *************************/
.mainScreen {
     display: flex;
     flex-flow: column;
     height: 100%;
}
.mainScreen header {
     flex: 0 1 5rem;
     display: flex;
     align-items: center;
     padding: 0 1rem;
}
.mainScreen main {
     flex: 1 1 auto;
     overflow: hidden;
}
.mainScreen nav {
     flex: 0 1 10rem;
}
.pageContainer {
     width: 200%;
     height: 100%;
     display: flex;
     justify-content: space-around;
}
.homePage, .explorePage {
     width: 48%;
     min-height: 20rem;
     background-color: rgba(215, 234, 218, 1);
     border-radius: 1rem;
     padding: 1rem;
}
.homePage {
     overflow-y: auto;
     overflow-x: hidden;
}
header .greeting {
     margin-left: auto;
}
.formWindow, .viewWindow {
     border: 1px solid black;
     width: 50%;
     padding: 1rem;  
}
.formWindow form > * {
     display: block;
     width: 100%;
}
.savedDestinations {
     display: flex;
     width: 100%;
     flex-wrap: wrap;
     row-gap: 1rem;
}
.destinationCard {
     display: flex;
     margin-right: 2rem;
     padding: .5rem;
     border-radius: 1rem;
     background-color: white;
     /* flex-direction: row-reverse; */
     /* width: 20rem; */
    width: 30rem;
    height: 11rem;
    /* box-shadow: 0 0 15px 0px rgba(89, 88, 88, .3); */
}
.destinationCard, .viewWindow {
     position: relative;
}
.destinationCard > * {
     margin: .5rem;
}
.imageURL {
     width: 80px;
     border-radius: .5rem;
     order: 1;
}
.cardDetails {
     font-size: 1.4rem;
     order: 2;
     margin: 0 1rem;
     padding: 1rem 0;
     /* flex-basis: 100px; */
   
}
.cardDetails p {
     margin: 0 0 1rem 0;
}
.cardDetails .name {
     font-size: 1.8rem;
     font-weight: 700;  
}
.cardDetails .month, .cardDetails .year {
     display: inline-block;
     margin: 0;
     background-color: rgba(41, 156, 79, .2);
     /* background-color: rgb(208, 207, 207); */
     color: rgb(62, 61, 61);
     padding: .3rem .5rem;
     border-radius: .4rem;
}
.cardDetails .location {
     background: url("https://img.icons8.com/material-rounded/24/299C4F/marker.png") no-repeat;
     background-position: -3px -2px;
     background-size: 18px;
     padding-left: 1.6rem;
     color: rgb(62, 61, 61);
 

     
}
.moreButton {
     order: 3;
     align-self: flex-start;
     height: 2rem;
     padding: 0 .5rem;
     border: none;
     border-radius: .5rem;
     flex: 0 1 3rem;
     min-width: 4rem;
     margin-left: auto;
     /* outline: 1px rgb(222, 220, 220) solid; */
     background: url('https://img.icons8.com/ios/50/FFFFFF/ellipsis.png') no-repeat;
     background-size: contain;
     background-position: center;
     
     background-color: rgba(41, 156, 79, .8);
}
.moreButton:hover {
     background-color: rgba(219, 219, 219, 1);
     background-image: url('https://img.icons8.com/ios/50/000000/ellipsis.png');
}
.moreWindow {
     position: absolute;
     left: 103%;
     z-index: 3;
     display: flex;
     flex-flow: column;
     font-size: 1.4rem;
     width: 10rem;
     height: 11rem;
     box-shadow: 0 0 15px 2px rgba(51, 51, 51, 0.3);
     background-color: rgb(220, 220, 220);
     /* background-color: green; */
     justify-content: space-between;
     outline: solid 1px rgba(51, 51, 51, 0.05);
     border-radius: .25rem;
}
.moreWindow button {
     display: block;
     background-color: white;
     border: none;
     /* border-bottom: 1px solid gray; */
     width: 100%;
     /* padding: 1rem; */
     height: 3.6rem;
     color: rgb(74, 74, 74);
     text-align: start;
     padding-left: 3.5rem;  
}
.moreWindow button:hover {
     background-color: rgba(215,234,218, 1);

}
.moreWindow .view, .moreWindow .delete, .moreWindow .edit {
     background-repeat: no-repeat;
     background-size: 17px;
     background-position: 10px;
     
}
.moreWindow .view {    
     background-image: url('https://img.icons8.com/material-outlined/24/646464/visible--v1.png');
     border-radius: .25rem .25rem 0 0;
}
.moreWindow .delete {
     border-radius: 0 0 .25rem .25rem;
     background-image: url('https://img.icons8.com/material-outlined/24/646464/trash--v1.png');
}
.moreWindow .edit {
     background-image: url('https://img.icons8.com/material-outlined/24/646464/edit--v1.png');
}
.confirmWindow {
     /* background-color: blue; */
}
.addNewButton {
     width: 6rem;
     height: 6rem;
     border-radius: 5rem;
     border: none;
     font-size: 2.5rem;
     background-color: white;
     vertical-align: middle;
}
.addNewButton:hover {
     background-color: rgba(41, 156, 79, 1);
     color: white;
}
/********************** EXPOREPAGE STYLES *********************/
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.hidden {
     display: none;
}
.exploreOpen {
     
     animation: explore 1s forwards;
}
@keyframes explore {
     100% {
          transform: translateX(-50%);
     }
     
}
.homeOpen {
     animation: home 1s backwards;
}
@keyframes home {
     0% {
          transform: translateX(-50%);

     } 
     100% {
          transform: translateX(0%);
     }
     
}