/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
     font-size: 62.5%
}

body {
     padding: 1rem 3rem;
}


/******************************************
/* LAYOUT
/*******************************************/

/******************* LANDING STYLES ************************/
header {
     display: flex;
     align-items: center;
     height: 6rem;
}
.login {
     margin-left: auto;
}
.landingMain {
     display: flex;
}
.leftText, .rightImage {
     width: 50%;
}
.rightImage img {
     width: 100%;
}
footer {

}
/****************** HOMEPAGE STYLES *************************/
.homePage, .explorePage {
     min-height: 20rem;
     border: 1px solid green;
}
header .greeting {
     margin-left: auto;
}
.formWindow, .viewWindow {
     border: 1px solid black;
     width: 50%;
     padding: 1rem;  
}
.formWindow form > * {
     display: block;
     width: 100%;
}
.savedDestinations {
     display: flex;
}
.destinationCard {
     margin-right: 2rem;
}
.destinationCard, .viewWindow {
     border: 1px solid black;
     position: relative;
}
.moreWindow {
     position: absolute;
     left: 103%;
     background-color: green;
     z-index: 3;
}
.confirmWindow {
     /* background-color: blue; */
}

/********************** EXPOREPAGE STYLES *********************/
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.hidden {
     display: none;
}